<template>
  <div class="scab">
    <div class="container" style="margin-bottom: 50px;">
      <div class="card">
        <div class="card-content">
          <p class="title">{{ title }}</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card"  style="margin-bottom: 4vh;"  v-for="para of paragraphs" :key='para.id'>
        <header class="card-header">
          <p class="card-header-title" style="background-color: purple;"></p>
        </header>
        <div class="card-content">
          <div class="content">
            <p style="font-size: 20px;">{{ para.paragraph.words }}</p>
          </div>
        </div>          
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: 'App',
  data() {
    return {
      loading: false,
      title: null,
      paragraphs: null
    }
  },
  created() {
    this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData() {
      this.loading = true

      fetch('https://otherresources.s3-ap-southeast-2.amazonaws.com/json_data/scab.json')
        .then(response => response.json())
        .then(json => this.setResults(json));
    },
    setResults(results) {
      this.title = results.title;
      this.paragraphs = results.paragraphs;
    }

  }
};
</script>