<template>
  <div id="app">
    <div id="nav">
      <div class="navbar is-light ">
        <div class="navbar-menu is-active">
          <div class="navbar-start">
            <div class="navbar-item">
              <router-link to="/">Home</router-link>
            </div>
            <div class="navbar-item">
              <router-link to="/About">The Blackmailer</router-link>
            </div>
            <div class="navbar-item">
              <router-link to="/fat_capitalist_pig">The Fat Capitalist Pig</router-link>
            </div>
            <div class="navbar-item">
              <router-link to="/scab">The Scab</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
